$background-color: #027ab4;
$active: #18b4ff;

body {
  font-family: helvetica;
  background: $background-color;
  color: #fff;
}

h1 {
  font-family: helvetica;
  font-weight: 200;
}

.pointCardName {
  width: 10em;
}

.current {
  font-weight: bold;
  background-color: #18b4ff;
}

.modal.closed {
  display: none;
}

.modal.open {
  display: block;
}

.modal {
  position: absolute;
  background-color: $background-color;
  width: 100%;
  top: 0;
  height: 100%;
}

.modalContent {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 50%;
  transform: translateY(50%);
}

.pointTable {
  border-collapse: collapse;
  width: 100%
}

.pointCardRow td {
  border-bottom: 1px solid #000;
  padding-top: 0.5em;
}

.totalRow td {
  padding-top: 0.5em;
  font-weight: bold;
}

.totalCell {
  text-align: right;
  padding-right: 4em;
}

.drinkButtons button {
  width: 100%;
  border-bottom: 1px solid #000;
}

.inputButtons {
  display: flex;
  flex-wrap: wrap;
}

.inputButtons div {
  margin: 3px;
}

.loginMessage {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  top: 7em;
  position: relative;

  a {
    color: #fff;
  }
}

.confirm-buttons {
  margin-top: 1em;
  font-size: 125%;

  button {
    width: 50%;
  }
}

.container {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.error {
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 1.25em;
  font-weight: bold;
  color: red;
}

.scoreboard,
.point-card {
  width: 100%;
}

.header-img {
  margin-top: 1em;
  max-width: 100%;
  border: 1px solid #000;
}

.pure-menu-link {
  color: #fff;
}

.venue-select {
  color: #000;
}

.pure-menu-link:hover {
  background-color: $active;
}

.confirm-points {
  font-size: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.confirm-venue {
  margin-top: 0.5em;
  font-size: 1.75em;
}
